.sidebar {
  float: left;
  width: 30%;
  background-color: #B0C4DE;
  color: #0000CD;
  border: 3px solid teal;
  padding: 8px;
  margin: 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

img {
  float: right;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
}
